body{
    background-color: rgb(220, 220, 255);
}


.titulo{
    text-align: center;
    color: blue;
    
}

.recordatorio{
    background-color: rgb(95, 95, 222);
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    color: beige;
}
.lista{
    background-color: rgb(197, 197, 248);
    border-radius: 12px;
    padding: 20px;
    margin-top: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
.formulario{
    margin-top: 10px;
    background-color: rgb(135, 150, 179);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
#nombre{
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin-right: 8px;
}
#cantidad{
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin-right: 8px;
}
#guardarDatoBtn{
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin-right: 8px;
    background-color: rgb(52, 104, 224);
    color: beige;
}
#realizarFuncionBtn{
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    padding: 10px;
    background-color: rgb(12, 134, 38);
    color: beige;
}