@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body {
    background-color: rgb(239, 227, 193);
}

header {
    background: url(../imagenes/frizaditas.png);
    background-size: cover;
    background-position: center;
    height: 400px;
}

#nombreUsuarioContainer {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#nombreUsuario {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#nombreUsuarioContainer button {
    padding: 10px 15px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

header h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
}

header h1:empty+#nombreUsuarioContainer {
    display: none;
}

#borrarNombreBtn {
    padding: 10px 15px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

#borrarNombreBtn i {
    margin-right: 5px;
}


#nombreSaludo {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
}

.contenedor {
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}

.contenedor .contenedor-items .item {
    max-width: 200px;
    margin: auto;
    border-style: none;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.contenedor .contenedor-items .item .img-item {
    width: 100%;
    height: 150px;

}

.contenedor .contenedor-items .item:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.contenedor .contenedor-items .item .titulo-item {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 20px;
}

.contenedor .contenedor-items .item .precio-item {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(228, 180, 95);

}

.contenedor .contenedor-items .item .boton-item {
    display: block;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(242, 158, 32);
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}


.carrito {
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    margin-right: -100%;
    opacity: 0;
}

.carrito .header-carrito {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito .carrito-item {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}

.carrito .carrito-item img {
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad {
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad {
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-item .carrito-item-precio {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrito .carrito-item .btn-eliminar i {
    pointer-events: none;
}

.carrito-total {
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar {
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover {
    scale: 1.05;
}

#botonRecordatorio-container {
    text-align: center;
}

#botonRecordatorio {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: none;
    background-color: rgb(228, 180, 95);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#popup-mensaje {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgb(254, 80, 45);
    color: #f3f3f3;
    padding: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

}

#popup-mensaje.popup-active {
    display: block;
}

.cripto-container {
    background-image: url(../imagenes/cripto1_ml_resize_x2_toned_light_ai.jpg);
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.cripto-parrf {
    background-color: #f3f3f365;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    padding: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

}

h3 {
    color: #333;
    margin-top: 15px;
    margin-left: 15px;
}

#crypto-info {
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    margin-left: 15px;
}